h1 {
    font-size: 60px;
}

#currentStatOfPlay {
    margin-top: 2em;
}

#lostAlertBox {
    margin-top: 2em;
}

#scoreboardRow {
    margin-top: 2em;
}

#canvas {
    border: 1px solid black;
}

.alphabetButton {
    width: 3em;
    margin: 0.5em;
}

.categoryFormDiv {
    margin-top: 1em;
}

.categoryFormSelect {
    width: 50%;
}

.categoryFormSubmit {
    margin-top: 0.5em;
}